# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
RewriteBase /
<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    #RewriteBase ./public_html/app
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ ./index.php [QSA,L]
</IfModule>
