<p>Екатеринбург - быстроразвивающаяся экономическая столица Урала и все быстрее происходит изменение внешнего облика города. Множество старинных зданий 19 века являющихся памятниками архитектуры навсегда останутся частью городской архитектуры, но, уже сейчас преобладающее большинство городских фасадов- это современные небоскребы и офисы известных компаний выполненные из массива стекла. </p>

<div class="uk-grid">
    <div class="uk-width-2-3">
<p>Данные фасады в большинстве случаев не предусматривают их открывания, и единственной возможностью поддерживать их чистоту и эстетическую красоту это помывка этих зданий методом промышленного альпинизма.</p> 
<p>Правильное и своевременное обслуживание таких зданий позволяет их владельцу показать своим клиентам престиж и статус своей компании относительно конкурентов. Загрязненные стекла фасада имеют неопрятный и неряшливый вид, портят эстетический облик города и снижают доверие к компании. </p>
    </div>
    <div class="uk-width-1-3">
        <img src="/static/img/23.jpg"/>
    </div>
</div>



<div class="uk-grid">
    <div class="uk-width-1-3">
        <img src="/static/img/3.jpg"/>
    </div>
    <div class="uk-width-2-3">
<p>Своевременная и качественная помывка таких зданий – эта та работа, которую мы готовы сделать за вас. Компания «Промальп ЕК» специализируется на клининговых высотных работах. Нашими руками были помыты многие объекты в городе Екатеринбурге, в том числе и самые узнаваемые, ключевые здания архитектурного образа нашего города.</p>
<p>Обращаясь в компанию «Промальп ЕК» вы можете навсегда забыть о проблеме клининга фасада здания, эту проблему мы возьмём на себя. Оценив нашу работу, вы поймете, что с нами работать удобно, выгодно и приятно.</p>
    </div>
</div>


<h3>Часто задаваемые вопросы</h3>

<p><b>Как часто мыть?</b></p>

<p>Клининг стеклянных зданий, а так же окон рекомендуется проводить раз в год, в начале летнего сезона. На Урале обычно это месяцы май и июнь. Здания для которых внешний вид особенно важен, а так же здания расположенные рядом с крупными дорожными развязками или находящиеся в другой неблагоприятной среде моются дважды в год, второй раз осенью.</p>

<p><b>Сроки?</b></p>

<p>Сроки проведения работ, конечно же зависят от объёмов. По желанию заказчика могут быть сокращены за счет вывода нескольких бригад одновременно. Так же при невозможности проведения работ не мешая повседневной работе предприятия возможно, проводить работы в ранние утренние часы, вечером или в выходные дни.</p>

<p><b>Цена?</b></p>

<p>Цены на клининг с применением методов промышленного альпинизма значительно ниже, чем при использовании других методов. А зачастую даже ниже чем повседневный клининг внутренних помещений или мытья окон с земли.</p>

<p>Цены на мытье фасадов зависят от многих показателей:</p>
<ul>
<li>Степень загрязнения</li>

<li>Обьемы работ</li>

<li>Вид фасада (цельностеклянный или отдельные окна)</li>

<li>Сложность обьекта</li>
</ul>
