<p><b>Антикоррозионная защита</b> — нанесение на поверхность защищаемых конструкций слоев защитных покрытий на основе органических и неорганических материалов, в частности, <a href="https://ru.wikipedia.org/wiki/%D0%9B%D0%9A%D0%9C">лакокрасочных материалов</a>, <a href="https://ru.wikipedia.org/wiki/%D0%9C%D0%B5%D1%82%D0%B0%D0%BB%D0%BB">металлов</a> и сплавов.</p>

<p>Компания «Промальп ЕК» производит антикоррозионные работы, в том числе с применением методов промышленного альпинизма.</p>
<p>Наши альпинисты работали на самых крупных обьектах нашей страны.</p>

<h3>Группа предприятий «Норильский Никель»</h3>
<div class="uk-grid">
    <div class="uk-width-2-3">
<p> Мы вели работы заводах Надежды, медном заводе,  машиностроительном заводе, Талнахской и Норильской обогатительных фабриках, Усть-Хантайской ГЭС и порту  в городе Дудинка. </p>
    </div>
    <div class="uk-width-1-3">
        <img src="/static/img/17.jpg"/>
    </div>
</div>

<h3>ОАО «ТАНЕКО»</h3>
<div class="uk-grid">
    <div class="uk-width-2-3">
<p>На заводе ТАНЕКО, в городе Нижнекамск нами были проведены работы по антикоррозионной защите металлоконструкций эстакад и резервуаров в 2010-2011 годах.</p>
        <img src="/static/img/33.png"/>
    </div>
    <div class="uk-width-1-3">
        <img src="/static/img/18.jpg"/>
    </div>
</div>
