<div class="uk-grid">
    <div class="uk-width-2-3">
<p>Банеры и Брандмауэры - это мощные рекламные инструменты, которые встречаются во всех городах нашей страны, размещённые вдоль шоссе и широких городских улиц, они привлекают к себе внимание потенциальных клиентов. На сегодняшний день Банеры – это один из самых дешевых и эффективных средств наружной рекламы. </p>
    </div>
    <div class="uk-width-1-3">
        <img src="/static/img/21.jpg"/>
    </div>
</div>
<p>Для долгой и качественной службы банера, его установку лучше доверить профессионалам «Промальп ЕК». Кроме того, для предотвращения срыва рекламного баннера под действием даже самых сильных нагрузок во время его установки следует учесть направления воздушных потоков, подобрать надёжные крепления, Продумать и правильно выполнить монтаж банера. Специалисты «Промальп ЕК» благодаря своему накопленному опыту легко монтируют Банеры и Брандмауэры любой сложности.</p>
<p>Компания «Промальп ЕК» предлагает 2 схемы установки рекламных Банеров и Брандмауэров, а так же услуги по замене рекламного полотна, ремонту, чистке и мойке баннеров.</p>

<h3>1 МОНТАЖ БАНЕРА НА РАМУ.</h3>

<p>Этот способ установки баннеров является самым надёжным и долговечным. Он наиболее удобен при необходимости регулярного обновления рекламного полотна, размеры которого остаются постоянными, а также при установке больших полотен или при размещении баннера на длительное время. Важно, чтобы при установке баннера учитывалась возможность его последующего лёгкого и быстрого демонтажа или замены в случае необходимости.</p>

<p>Наша работа включает:</p>

<ul>
<li>Выезд специалиста на объект, замеры, расчет стоимости;</li>
<li>разработка и изготовление металлоконструкции;</li>
<li>монтаж металлоконструкции;</li>
<li>монтаж баннерного полотна;</li>
<li>изготовление и монтаж осветительных систем;</li>
<li>контроль за состоянием полотна в течение срока гарантийного обслуживания (протяжка появляющихся морщин, настройка освещения)</li>
</ul>

<p>Монтаж банера на раму происходит двумя видами крепления:</p>

<p>1 Резьбовым натяжением. В этом случае крепление банера на раму осуществляется с помощью «Системы Резьбового Натяжения»</p>

<p>2 Шнуровкой. В этом случае крепление банера на раму осуществляется с помощью реп-шнура.</p>

<h3>2 БЕЗРАМНОЕ КРЕПЛЕНИЕ</h3>

<p>Такой способ установки баннера является самым распространённым. Он предполагает крепление баннерного полотна на дюпель-гвозди. Используется для разовой повески баннера. </p>

<p>Наша работа включает:</p>
<ul>
<li>Выезд специалиста на объект, замеры, изучение места крепления банера, расчет стоимости;</li>
<li>монтаж баннерного полотна;</li>
<li>изготовление и монтаж осветительных систем;</li>
<li>контроль за состоянием полотна в течение срока гарантийного обслуживания (протяжка появляющихся морщин, настройка освещения)</li>
</ul>

<h3>ЗАМЕНА РЕКЛАМНОГО ПОЛОТНА</h3>

<div class="uk-grid">
    <div class="uk-width-2-3">
        <p>Замена рекламного полотна - это комплекс работ по замене на брандмауэре носителя информации. </p>
        <p>Наша работа включает:</p>
        <ul>
            <li>демонтаж старого полотна;</li>
            <li>обследование состояния рамы крепления банера и комплектующих;</li>
            <li>монтаж полотна;</li>
            <li>контроль за состоянием полотна в течение срока гарантийного обслуживания (протяжка появляющихся морщин, настройка освещения)</li>
        </ul>
    </div>
    <div class="uk-width-1-3">
        <img src="/static/img/22.jpg"/>
    </div>
</div>


<h3>ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ, СОПУТСТВУЮЩИЕ УСТАНОВКЕ РЕКЛАМНЫХ БАННЕРОВ</h3>
<ol>
<li>Ремонт баннера: закрепление оторвавшегося полотна, устранение разрывов на баннере, подтяжка шнуровки и т.д. </li>
<li>Чистка и мойка баннеров: используя аппараты высокого давления или вручную, применяя специальные моющие средства.</li>
<li>Установка освещения. Специалисты компании «Промальп ЕК» расчитают необходимое количество источников освещения и углы установки осветительноых приборов. </li>
</ol>

<p>Для определения способа монтажа баннеров, сроков и стоимости выполнения работ, наши специалисты бесплатно выедут на предполагаемое место установки Банера и Брандмауэра</p>

<h3>3 Причины по которым нужно заказать монтаж банера в «Промальп ЕК»</h3>
<ol>
<li>Низкие цены - Отсутствют затраты на аренду дорогой спецтехники (автовышки), Выезд специалиста компании «Промальп ЕК» в день обращения-БЕСПЛАТНЫЙ ;</li>
<li>Быстрота выполнения работ - альпинисты «Промальп ЕК» практически сразу приступают к монтажу банера, так как прибывают к месту проведения работ уже готовые, заранее получив всю необходимую информацию и материалы;</li>
<li>качество выполненых работ + гарантии. Все специалисты «Промальп ЕК» отлично разбираются в своем деле, имеют необходимые удостоверения и опыт работы промышленными альпинистами. На все виды работ даётся гарантия. </li>
</ol>


<h2>Сервис рекламных конструкции</h2>
<h3>Цены на монтаж/демонтаж банера резьбовым натяжением</h3>

<table class="uk-table uk-table-striped uk-table-condensed"> 
<tbody>
<tr> <td>Размер банера</td>
<td colspan="2">Монтаж на готовую раму, руб/ м<sup>2</sup></td>
<td rowspan="2">Изготовление и установка рамы, руб/м.пог.</td>
<td rowspan="2">Демонтаж, руб/м<sup>2</sup></td>
</tr>

<tr> <td><p><br />
</p></td>
<td>Первичный монтаж</td>
<td>Вторичный и последующие</td>
</tr>

<tr> <td>До 30 м<sup>2</sup></td>
<td>250</td>
<td>200</td>
<td>100</td>
<td>80</td>
</tr>

<tr> <td>До 60 м<sup>2</sup></td>
<td>220</td>
<td>180</td>
<td>100</td>
<td>80</td>
</tr>

<tr> <td>До 100 м<sup>2</sup></td>
<td>200</td>
<td>160</td>
<td>100</td>
<td>70</td>
</tr>

<tr> <td>До 200 м<sup>2</sup></td>
<td>180</td>
<td>140</td>
<td>100</td>
<td>60</td>
</tr>

<tr> <td>До 300 м<sup>2</sup></td>
<td>160</td>
<td>120</td>
<td>100</td>
<td>50</td>
</tr>

<tr> <td>Свыше 300 м<sup>2</sup></td>
<td>140</td>
<td>100</td>
<td>80</td>
<td>40</td>
</tr>
</tbody>
</table>

<h3>Цены на монтаж/демонтаж банера шнуровкой</h3>
<table class="uk-table uk-table-striped uk-table-condensed"> 
<tbody>
<tr> <td>Размер банера</td>
<td>Монтаж на готовую раму, руб/ м<sup>2</sup></td>
<td>Изготовление и установка рамы, руб/м.пог.</td>
<td>Демонтаж, руб/м<sup>2</sup></td>
</tr>

<tr> <td>До 30 м<sup>2</sup></td>
<td>200</td>
<td>100</td>
<td>80</td>
</tr>

<tr> <td>До 60 м<sup>2</sup></td>
<td>190</td>
<td>100</td>
<td>80</td>
</tr>

<tr> <td>До 100 м<sup>2</sup></td>
<td>180</td>
<td>100</td>
<td>70</td>
</tr>

<tr> <td>До 200 м<sup>2</sup></td>
<td>170</td>
<td>100</td>
<td>60</td>
</tr>

<tr> <td>До 300 м<sup>2</sup></td>
<td>160</td>
<td>100</td>
<td>50</td>
</tr>

<tr> <td>Свыше 300 м<sup>2</sup></td>
<td>150</td>
<td>80</td>
<td>40</td>
</tr>

</tbody>
</table>

<h3>Цены на монтаж/демонтаж банера без рамным креплением</h3>
<table class="uk-table uk-table-striped uk-table-condensed">
<tbody>
<tr> <td>Размер банера</td>
<td>Монтаж руб/ м<sup>2</sup></td>
<td>Демонтаж руб/ м<sup>2</sup></td>
</tr>

<tr> <td>До 30 м<sup>2</sup></td>
<td>350</td>
<td>140</td>
</tr>

<tr> <td>До 60 м<sup>2</sup></td>
<td>340</td>
<td>140</td>
</tr>

<tr> <td>До 100 м<sup>2</sup></td>
<td>320</td>
<td>120</td>
</tr>

<tr> <td>До 200 м<sup>2</sup></td>
<td>300</td>
<td>120</td>
</tr>

<tr> <td>До 300 м<sup>2</sup></td>
<td>270</td>
<td>80</td>
</tr>

<tr> <td>Свыше 300 м<sup>2</sup></td>
<td>250</td>
<td>80</td>
</tr>

</tbody>
</table>

<h3>Цены на мойку рекламных банеров</h3>
<table class="uk-table uk-table-striped uk-table-condensed"> 
<tbody>
<tr> <td>Размер банера</td>
<td>Мойка банера руб/ м<sup>2</sup></td>
<td>Диагностика рекламных конструкций, выявление причины поломки, устранение дефектов.</td>
</tr>

<tr> <td>До 30 м<sup>2</sup></td>
<td>От 140 руб/ м<sup>2</sup></td>
<td>От 3000 руб/банер</td>
</tr>

<tr> <td>До 60 м<sup>2</sup></td>
<td>От 140 руб/ м<sup>2</sup></td>
<td>От 4500 руб/банер</td>
</tr>

<tr> <td>До 100 м<sup>2</sup></td>
<td>От 120 руб/ м<sup>2</sup></td>
<td>От 7000 руб/банер</td>
</tr>

<tr> <td>До 200 м<sup>2</sup></td>
<td>От 120 руб/ м<sup>2</sup></td>
<td>От 12000 руб/банер</td>
</tr>

<tr> <td>До 300 м<sup>2</sup></td>
<td>От 100 руб/ м<sup>2</sup></td>
<td>От 14000 руб/банер</td>
</tr>

<tr> <td>Свыше 300 м<sup>2</sup></td>
<td>От 100 руб/ м<sup>2</sup></td>
<td>От 50 руб/м<sup>2</sup></td>
</tr>

</tbody>
</table>

<h3>Дополнительный сервис рекламных конструкции</h3>
<table class="uk-table uk-table-striped uk-table-condensed"> 
<tbody>
<tr> <td><b>Наименование работ</b></td>
<td><b>стоимость</b></td>
</tr>

<tr> <td>Монтаж готовой рамы</td>
<td>От 50 руб/м.пог.</td>
</tr>

<tr> <td>Демонтаж рамы</td>
<td>От 40 руб/м.пог.</td>
</tr>

<tr> <td>Монтаж светового короба в сборе</td>
<td>От 1200 шт.</td>
</tr>

<tr> <td>Монтаж светового короба по частям</td>
<td>От 1000 шт.</td>
</tr>

<tr> <td>Демонтаж светового короба</td>
<td><p>От 800 шт.</p></td>
</tr>

<tr> <td>Монтаж элементов подсветки </td>
<td>От 1000 шт.</td>
</tr>

<tr> <td>Замена перегоревших лампочек</td>
<td>договорная</td>
</tr>

<tr> <td>Демонтаж элементов подсветки</td>
<td>От 800 шт.</td>
</tr>

<tr> <td>Монтаж букв</td>
<td>От 500 шт.</td>
</tr>

<tr> <td>Демонтаж букв</td>
<td>От 300 шт.</td>
</tr>

<tr> <td>Мойка букв</td>
<td>договорная</td>
</tr>
</tbody>
</table>

<strong>Размер минимального заказа 3000 руб.</strong>
