<p>Одним из основных направлений деятельности "Строительной Компаний ПромАльп" является Герметизация межпанельных швов.</p>

<div class="uk-grid">
    <div class="uk-width-2-3">
        <p>Правильная герметизация межпанельных швов обеспечивает гидроизоляцию и теплоизоляцию швов и стыков здания. Герметизация швов специальными герметиками позволяет утеплить и защитить от промерзания, защитить от плесени и сырости, а так же значительно продлить срок службы здания.</p>
        <p>Важными этапами в герметизации межпанельных швов является установка причины возникновения проблем, и подборка материалов для их устранения. Спекиалисты компании «Промальп ЕК» имеют большой опыт в решении подобных проблем, мы поможем вам установить причину и подобрать материалы для ее устранения.</p>
    </div>
    <div class="uk-width-1-3">
        <img src="/static/img/20.jpg"/>
    </div>
</div>

<div class="uk-grid">
    <div class="uk-width-1-3">
        <img src="/static/img/13.jpg"/>
    </div>
    <div class="uk-width-2-3">
        <p>Компания «Промальп ЕК» выполняет как первичную так и вторичную герметизацию межпанельных швов</p>
        <p>Первичная герметизация межпанельных швов состоит в заполнении пустот полиуретановым герметиком. Затем внутрь шва кладется изоляционный утеплитель, после чего наносится слой герметизирующего материала.</p>
    </div>
</div>
    <p>Вторичная герметизация межпанельных швов осуществляется двумя способами: либо на межпанельный шов сразу наносится герметизирующий материал, либо старый шов вскрывается, полностью очищается, после чего герметизация проводится так же, как и в первом случае.</p>

<h3>3 Причины по которым нужно заказать герметизацию межпанельных швов в «Промальп ЕК»:</h3>
<ul>
    <li>Низкие цены-Наша компания выполняет данный вид работ методом промышленного альпинизма поэтому отсутствют затраты на аренду дорогой спецтехники (автовышки) и транспортировку-установку строительных люлек, сборку строительных лесов, Выезд специалиста компании «Промальп ЕК»  в день обращения-БЕСПЛАТНЫЙ;</li>
    <li>Быстрота выполнения работ. Очень важно при ремонте межпанельных швов не затягивать с выполнением производимых работ, вскрытый шов должен быть вближайшие сроки утеплен и заделан водоотталкивающими материалами, во избежании накопления влаги или других врелных компонентов. Промышленные альпинисты «Промальп ЕК» имеют большой опыт в этой сфере, и проводят герметизацию межпанельных швов по частям здания.</li>
    <li>Качество выполненых работ + гарантии. Специалисты компании «Промальп ЕК» отлично разбираются в своем деле и работают только с проверенными постащиками утепляющих и герметизирующих материалов. На все виды работ предоставляется гарантия.</li>
</ul>

<p>Цены на герметизацию межпанельных швов и окон</p>
<table class="uk-table uk-table-striped uk-table-condensed"> 
<tbody>
<tr> 
    <td rowspan="2">Наименование работ</td>
    <td colspan="3">Стоимость работ</td>
</tr>

<tr><td>Выборка</td>
<td>До 400 м.пог</td>
<td>От 400м.пог.</td>
</tr>

<tr> <td>Первичная комплексная герметизация межпанельного шва</td>
<td>-</td>
<td>От 70</td>
<td>От 70</td>
</tr>

<tr> <td>Вторичная комплексная герметизация межпанельного шва</td>
<td>От 60</td>
<td>50</td>
<td>От 40</td>
</tr>

<tr> <td>Комплексная герметизация окон</td>
<td>От 80</td>
<td>От 70</td>
<td>От 70</td>
</tr>

<tr> <td>Вскрытие старого герметика</td>
<td>От 40</td>
<td>От 40</td>
<td>От 35</td>
</tr>

<tr><td>Обезжиривание поверхности</td>
<td>От 50</td>
<td>От 40</td>
<td>От 30</td>
</tr>

<tr><td>Удаление плесени и грибка</td>
<td>От 50</td>
<td>От 45</td>
<td>От 40</td>
</tr>

<tr> <td>Укладка утеплителя</td>
<td>От 50</td>
<td>От 20</td>
<td>От 20</td>
</tr>

<tr> <td>Нанесение герметика</td>
<td>От 50</td>
<td>От 30</td>
<td>От 20</td>
</tr>

</tbody>
</table>

<h3>ЧАСТО ЗАДАВАЕМЫ ВОПРОСЫ</h3>
<p><b>Почему надо привлекать профессиоалов?</b></p>

<p>Важными этапами в герметизации межпанельных швов является установка причины возникновения проблем, и подборка материалов для их устранения.</p>

<p>Не правильно выполненная герметизация швов грозит :</p>
<p>-Намоканием или промерзаниме помещений в местах стыков плит;<br/>
-Появление пятен на стенах от сырости и грибка. И как следствие переделывание ремонта в квартире;<br/>
- Плохая звукоизоляция, постоянные шумы с улицы, проникание городской пыли в квартир.</p>

<p>Специалисты компании «Промальп ЕК» имеют большой опыт в решении подобных проблем, мы поможем вам установить причину и подобрать материалы для ее устранения. </p>

<p><b>Работаете ли вы с ТСЖ</b></p>

<p>Мы работаем как с Большими Управляющими Компаниями так и с ТСЖ</p>

<p><b>Возможен ли отедельный заказ на герметизацию швов одной квартиры?</b></p>

<p>Да возможен. При выполнения этого заказа нам потребуется заявление от жильца квартиры (для предоставления его в ТСЖ или УК при получения выхода на крышу), остальные заботы берет на себя «Промальп ЕК»</p>

<p><b>Минимальная сумма заказа?</b></p>

<p>Минимальная сумма заказа составляет 5000 рублей включая материалы</p>

<p><b>Как можно сэкономить?</b></p>

<p>Для экономии рекомендуется кооперироваться соседям по стояку сверху донизу, а так же это способствует лучшему выполнению технологического процесса герметизации шва </p>

<p><b>Требуем ли мы предоплату?</b></p>

<p>При выполнении данного вида работ требуется предоплата 60%. Это вызвано необходимостью заранее закупать матералы для герметизации</p>

<p><b>В какое время года лучше производить герметизацию межпанельных швов?</b> </p>

<p>Герметизацию межпанельных швов лучше всего проводить в теплое время года и при минимальной влажности. Это позволяет более качественно утеплить шов и экономит денежные на покупку дорогих материалов используемых в холодный период.</p>

<p><b>Возможно ли изменение технологии герметизации по требованию заказчика</b></p>

<p>Да, возможно. В случае необходимости специалисты «Промальп ЕК» помогут Вам подобрать оптимальую технологию</p>
