{%extends 'layout.html'%}

{%block content%}
<div class="uk-grid sx-contacts">
    <div class="uk-width-1-2">
        <div class="uk-panel uk-panel-box">
            {#
            <div class="uk-panel-teaser">
                <img alt="" src="/static/img/38.jpg"/>
            </div>
            #}
            <h3>
                <small>Павел</small>
                <small>8 (904) 177-52-60</small>
            </h3>
        </div>
    </div>
    <div class="uk-width-1-2">
        <div class="uk-panel uk-panel-box">
            {#
            <div class="uk-panel-teaser">
                <img alt="" src="/static/img/alexey.jpg"/>
            </div>
            #}
            <h3>
                <small>Николай</small>
                <small>8 (950) 654-32-13</small>
            </h3>
        </div>
    </div>
</div>
{%endblock%}
