{%extends 'layout.html'%}

{%block content%}
<div class="uk-grid sx-contacts">
    <div class="uk-width-1-2">
        <div class="uk-panel uk-panel-box">
            <div class="uk-panel-teaser">
                <img alt="" src="/static/img/38.jpg"/>
            </div>
            <h3>Директор «СК ПромАльп»
                <small>Тимонников Александр Олегович</small>
                <small>8-982-662-14-95</small>
            </h3>
            <p class="descr">Работает на рынке Высотных работ с 2006 года:
                <ul>
                    <li>Промышленным альпинистом 2006-2009</li>
                    <li>Бригадиром 2009-2011</li>
                    <li>Мастером компания «ВЫСО»</li>
                    <li>Прорабом</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="uk-width-1-2">
        <div class="uk-panel uk-panel-box">
            <div class="uk-panel-teaser">
                <img alt="" src="/static/img/alexey.jpg"/>
            </div>
            <h3>Директор «СК ПромАльп»
                <small>Бабушкин Алексей Александрович</small>
                <small>8-904-381-27-52</small>
            </h3>
            <p class="descr">Работает на рынке Высотных работ с 2007 года:
                <ul>
                    <li>Промышленным альпинистом 2007-2009</li>
                    <li>Бригадиром 2009-2011</li>
                    <li>Мастером и старшим мастером на промышленных предприятиях екатеринбурга</li>
                </ul>
            </p>
        </div>
    </div>
</div>
{%endblock%}
