{%extends 'layout.html'%}

{%block content%}
    <p>Добро пожаловать на сайт компании «Промальп ЕК» Мы специализируемся на выполнении строительных работ, с использованием методов и технологии промышленного альпинизма. </p>
    <p>Применение технологии промышленного альпинизма, позволяет быстро и качественно решать задачи связанные со строительством и эксплуатацией зданий и сооружений. </p>
    <p>Преимущества применение технологии промышленного альпинизма:</p>
    <div class="uk-grid">
        <div class="uk-width-7-10">
    <ol class="uk-list-space">
        <li> Дешево. Этот метод позволяет значительно удешевить стоимость выполняемых работ, так как не требуют дополнительных затрат на сборку строительных лесов и  аренде дорогого оборудования таких как автовышки и строительные люльки. Правильное применение технологии ПромАльпа  позволяет сократить расходы на многие высотные работы до 20 раз. </li>
        <li>Быстро. Значительные преимущества использования методов промышленного альпинизма это скорость. Отсутствуют затраты времени на сборку лесов и установку люлек.</li>
        <li>Работа практически в любых условиях и труднодоступных местах. Наши профессионалы умеют работать практически со всеми видами архитектурных сооружении, в том числе и с самыми сложными. На нашем считу выполненных работ, числятся такие архитектурно сложные объекты как реставрация церквей с восстановлением всех художественных составляющих фасада данного здания. Установка рекламных баннеров на «живые» скалы. И работа труднодоступных местах в том числе и в Запалярье. г.Норильск; г. Снежногорск; г. Талнах; г. Дудинка и другие </li>
</ol>
</div>
    <div class="uk-width-3-10">
        <img src="/static/img/1.png"/>
    </div>
</div>
    <p>Специалисты компании «Промальп ЕК» способны решать широкий спектр задач от мойки фасадов зданий до выполнения работ по восстановлению и изготовлению сложных архитектурно-художественных составляющих фасада здания. </p>

<p>Основными направлениями деятельности компании являются:</p>
<div class="uk-grid">
<div class="uk-width-7-10">
<ol class="uk-list-space">
    <li>Герметизация межпанельных швов</li>
    <li>Установка и обслуживание рекламных банеров</li>
    <li>Установка и обслуживание  кондиционеров</li>
    <li>Мойка окон и фасадов зданий</li>
    <li>Чистка кровли от снега, сбивание(удаление) сосулек. Подготовка кровли к зиме</li>
    <li>Фасадные работы:
            <ul class="uk-list-space" style="margin-top: 10px">
                <li>Штукатурка</li>
                <li>Покраска</li>
                <li>Удаление высолов</li>
                <li>Подготовка строительного здания к приемке</li>
            </ul>
    </li>
</ol>
</div>
<div class="uk-width-3-10">
    <img src="/static/img/2.jpg"/>
</div>
</div>
<p>Если Вам необходимо решить сложные задачи на высоте – позвоните нам, и Мы поможем в решении этих задач.  Накопленный опыт наших специалистов сделает сотрудничество с нашей компанией выгодным и удобным.</p>
<p>"Наша цель: стать лучшей компанией предоставляющей услуги промышленного альпинизма в г.Екатеринбурге. Мы предлагаем - индивидуальный подход к каждому клиенту.  Наш слоган –«БЫТЬ НА ВЫСОТЕ-ЭТО НАША РАБОТА»</p>
{%endblock%}
