{%extends 'layout.html'%}

{%block content%}
<p>Компания «Промальп ЕК» набирает промышленных альпинистов различных строительных профессии. Как с опытом работы так и без него.</p>

<h3>Для соискателей с опытом:</h3>
<div class="uk-grid">
    <div class="uk-width-3-10">
        <img src="/static/img/40.jpg"/>
        <img src="/static/img/36.jpg"/>
    </div>
    <div class="uk-width-7-10">
        <ul>
            <li>Опыт промышленного альпиниста подтверждается наличием удостоверения о зданном экзамене. И записями в трудовой книжке</li>
            <li>Для работы в «Промальп ЕК» промышленным альпинистам потребуется пересдать письменный и практический экзамен.</li>
        </ul>
        <p>Компания «Промальп ЕК» предоставляет высотное оборудование и системы самостраховки в пользование промышленным альпинистам. Работать в своих страховочных системах и на своих системах самостраховки – КАТЕГОРИЧЕСКИ ЗАПРЕЩАЕТСЯ, если вы привыкли к определенному виду оборудования, то специалисты компании «Промальп ЕК» закупят его специально для Вас.</p>
    </div>
</div>


<h3>Для соискателей без опыта</h3>
<div class="uk-grid">
    <div class="uk-width-6-10">
        <p>Мы, компания «Промальп ЕК» набираем группы мужчин желательно прошедших службу в Вооруженных Силах РФ, с крепким здоровьем и не старше 30 лет для обучения по программе «Промышленный Альпинист» и присвоение строительной профессии.</p>
        <p>Обучение проводим в специализированных центрах. По окончании обучения проводится теоретический и практический экзамен. </p>
        <p>Обучение как правило проводится в Марте-Апреле со сдачей экзамена в Мае, перед «горячим» сезоном работ.  На время обучения или на время набора группы Нашим соискателям предоставляется работа «помошниками промышленных альпинистов» от 1000 руб/смена</p>
    </div>
    <div class="uk-width-4-10">
        <img src="/static/img/37.jpg"/>
    </div>
</div>

<h3>По вопросам трудоустройства:</h3>
<ul class="uk-list">
    <li>Александр: <strong>8-982-662-14-95;</strong></li>
    <li>Алексей: <strong>8-904-381-27-52;</strong></li>
</ul>
{%endblock%}
