{%extends 'layout.html'%}

{%block content%}
    <h2 id="shvi">Гермитизация межпанельных швов</h2>
    {%include "partials/shvi.html"%}
    <h2 id="banner">Установка и обслуживание рекламных баннеров</h2>
    {%include "partials/reklama.html"%}

    <h2 id="conds">Установка и обслуживание кондиционеров</h2>

    <h2 id="cleaning">Мойка окон и фасадов зданий</h2>
    {%include "partials/cleaning.html"%}
    <h2 id="snow">Чистка кровли от снега, сбивание(удаление) сосулек.<br/>Подготовка кровли к зиме</h2>
    {%include "partials/snow.html"%}
        
    <h2 id="korrozia">Антикоррозионная защита</h2>
    {%include "partials/korrozia.html"%}
    <h2 id="facadi">Фасады</h2>
    {%include "partials/facadi.html"%}
{%endblock%}
