
<div class="uk-grid">
    <div class="uk-width-2-3">
        <p>Наша компания практикует 2 схемы работы в рамках услуги чистки крыш от снега:</p>
        <ul>
        <li>Разовая очистка крыш от снега – снег, наледь и сосульки убираются один раз по вызову. Наши специалисты выезжают на объект после получения заявки.
        При повторном вызове предоставляем 15% скидку.</li>
        </ul>

    </div>
    <div class="uk-width-1-3">
        <img src="/static/img/25.jpg"/>
    </div>
</div>
<div class="uk-grid">
    <div class="uk-width-1-3">
        <img src="/static/img/26.jpg"/>
    </div>
    <div class="uk-width-2-3">
        <ul>
        <li>Абонентское обслуживание – наша компания предлагает три варианта: 
        <ol>
        <li>«Все включено» – за фиксированную абонентскую плату (раз в месяц) мы каждый день отслеживаем состояние крыши и по мере необходимости убираем снег, наледь и сосульки </li>
        <li>«По заявке» – мы осуществляем текущую уборку снега с крыш в течение месяца по заявке.</li>
        <li>«Фикс» – мы заранее оговариваем фиксированное количество выездов в месяц (3-4 раза) за абонентскую плату, при этом неиспользованные выезды могут переноситься на следующий месяц</li>
        </ol>
        </li>
        </ul>
    </div>
</div>


<p>Условия программ могут быть изменены для удобства заказчика</p>

<p>Во время выполнения любых работ по уборке снега и сосулек прилегающая территория огораживается и отдельный человек следит за безопасностью работ.</p>

<p>По запросу клиента возможно выполнение работ в ночное время суток, не мешающее ведению бизнеса</p>

<p>Прайс-лист на Чистку кровли от снега и сбивание(удаление) сосулек</p>

<table> 
<tbody>
<tr> <td>Разовая очистка кровли от снега, вся площадь</td>
<td>от 30 руб. за м</td>
</tr>

<tr> <td>очистка от снега 1,5 метра от края крыши, удаление сосулек</td>
<td>от 40 руб. за м.п.</td>
</tr>

<tr> <td>Чистка кровли от наледи и удаление сосулек с карнизов между этажами</td>
<td>от 60 руб. за м.п.</td>
</tr>

<tr> <td>Абонентское обслуживание крыши</td>
<td></td>
</tr>

<tr> <td>Всё включено</td>
<td></td>
</tr>

<tr> <td>Фикс</td>
<td></td>
</tr>

<tr> <td>По заявке</td>
<td></td>
</tr>

</tbody>
</table>
<img src="/static/img/27.jpg"/>

<h3>Часто задаваемы вопросы</h3>

<p><b>Чем опасны снег, наледь и сосульки на крыше?</b></p>
<div class="uk-grid">
    <div class="uk-width-2-3">
        <p>Большое количество снега, наледи и сосулек на крыше может привести к самым различным последствиям:</p>
        <ul>
        <li>неожиданному сход снега с крыши и падению сосулек, что очень опасно;</li>
        <li>повреждению кровли под тяжестью накопившегося снега и в отдельных случаях к ее обрушению;</li>
        <li>обледенению водосточной системы во время оттепели и сбою в ее работе;</li>
        <li>протеканию крыши и подтоплению чердачных помещений и верхних этажей при плохой гидроизоляции кровли и интенсивном таянии снега;</li>
        <li>нарушению работы вентиляционной системы, а также другого оборудования, установленного на крыше (спутниковых тарелок, антенн и пр.), обрыв кабелей и проводов;</li>
        <li>образованию и росту трещин в фасадах зданий. Данный процесс происходит из-за попадания в мельчайшие трещины на фасаде воды от тающих сосулек и наледи. Из-за периодических суточных перепадов температуры она то превращается в лед, расширяясь при этом, то вновь оттаивает, тем самым способствуя увеличению и росту трещин.</li>
        </ul>
    </div>
    <div class="uk-width-1-3">
        <img src="/static/img/28.jpg"/>
    </div>
</div>

<div class="uk-grid">
    <div class="uk-width-1-3">
        <img src="/static/img/29.jpg"/>
    </div>
    <div class="uk-width-2-3">
        <p>Чтобы избежать подобных последствий следует своевременно убирать снег, наледь и сосульки с крыш.</p>

        <p>Вес 1 м2 снега высотой 10 см может достигать 60 кг.</p>
    </div>
</div>

<p><b>Кто несет ответственность за сосотояние крыши и какие штрафы?</b></p>

<p>За сход снега и сосулек на прохожих и машины несет ответственность организация обслуживающая здание</p>

<p>Штрафы за снег и сосульки на крыше согласно КоАП г. Москвы составляют:</p>
<ul>
    <li>для жилого фонда (ст. 9.1): </li>
    <li>должностные лица — до 50 тыс. р. </li>
    <li>юридические лица — до 100 тыс. р.</li>
    <li>для нежилого фонда (ст. 8.12): </li>
    <li>должностные лица — до 15 тыс. р. </li>
    <li>юридические лица — до 100 тыс. р.</li>
</ul>

<p>Что в разы превышает стоимость услуг по их уборке</p>

<p><b>Как мы производим очистку кровли зимой?</b></p>
<div class="uk-grid">
    <div class="uk-width-2-3">
        <p>Уборка снега с крыш требует профессионального подхода, так как это работа повышенной опасности. В связи с этим она непременно должна осуществляться подготовленными людьми, имеющими соответствующий опыт.</p>

        <p>После окончания работ на крыше сброшенный и попавший на тротуары или проезжую часть снег сдвигается в сторону и собирается в сугробы, по требованию заказчика сброшенный снег так же может быть вывезен с обекта</p>
    </div>
    <div class="uk-width-1-3">
        <img src="/static/img/30.jpg"/>
    </div>
</div>
<div class="uk-grid">
    <div class="uk-width-1-3">
        <img src="/static/img/31.jpg"/>
    </div>
    <div class="uk-width-2-3">
        <p>Также стоит обратить внимание на крыши с металлической кровлей (из оцинкованной стали, металлочерепицы и т. п.). При недостаточной теплоизоляции материала кровли и наличия теплого чердака зимой на ней постепенно накапливается толстый слой наледи, который прочно «схватывается» с подлежащей поверхностью. Удалить такую наледь без повреждения материала кровли практически невозможно, поэтому наилучшим решением в данном случае является дождаться первого потепления, чтобы образовавшаяся наледь «отошла» от поверхности. В данном случае наши специалисты рекомендуют убирать основную массу снега с кровли, нетрогая образовавшуюся наледь.</p>
    </div>
</div>


<p><b>Как часто нужно чистить крышу от снега и наледи? </b> </p>
<p>Конечно, все зависит от погоды, но при обильных снегопадах данные работы должны осуществляться не реже одного раза в неделю.</p>

<p><b>Работаете ли вы с физическими лицами?</b></p>
<p>Мы работаем как с юридическими, так и с физическими лицами и производим как разовое, так и абонентское обслуживание в екатеринбурге и Свердловской области. </p>

<p>Закажите очистку кровли от снега, наледи и сосулек прямо сейчас!</p>

<img src="/static/img/32.jpg"/>
<p><b>Возможна ли очистка фальш-карнизов и сандриков от сосулек?</b></p>

<p>Промышленные альпинисты нашей компании оснащены альпинистским снаряжением, чтобы спуститься по веревке и очистить сосульки, образовавшиеся на фальш-карнизах. Известно, что наледь на этих архитектурных элементах также так же опасна и наносит тот же вред зданию, что и снег находящийся на кровли здания. </p>

<h3>Подготовим кровлю к зиме</h3>

<p>Лучше заранее подготовиться к снежной зиме, чтобы потом легче было убирать снег и наледь с крыши. Что мы делаем? Устанавливаем защитные крышки на водосточные воронки. Так вода будет отводиться, минуя трубу, и вы избежите незапланированных расходов на ремонт водостока. Такая мера позволит зимой быстрее производить очистку кровли от наледи и снега.</p>

<p>Мы проверяем крепление водосточной воронки, при необходимости заменяем ее. И вы будете уверены, что при очистке кровли водосточная воронка точно не упадет вниз.</p>

<p>Специалисты нашей компании проведут герметизацию фальцев, которые соединяют жесткую кровлю, крытую металлическими листами. Предпринятые меры помогут избежать течи крыши в зимнее время. В качестве герметика по желанию заказчика могут использоваться битумные мастики или герлен.</p>
